version: 2.1
jobs:
  lint-and-test:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Run Tests
          command: |
            echo "Executing tests..."
            # If this fails (exit code 1), CircleCI tells GitHub "Failure"
            # and the Merge Queue will automatically drop this PR.
            python -m unittest discover 

workflows:
  main-workflow:
    jobs:
      - lint-and-test:
          filters:
            branches:
              only:
                - main
                - /^gh-readonly-queue\/main\/.*/ # T
