[project]
name = "super-duper-python-app"
version = "0.1.0"
description = "aleksatest"
requires-python = ">=3.10"
dependencies = []

[project.optional-dependencies]
dev = [
    "pytest",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
